<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Russian">
    <title>Ask Bauman</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/loginstyle.css">
</head>

<body>

<div class="modal-wrap">

    <div class="modal-bodies">
        <div class="modal-body modal-body-step-1 is-showing">
            <div class="title">Вход</div>
            <div class="description">Пожалуйста, введите данные своего аккаунта</div>
            <div class="description" style="color:red;">Неверный логин или пароль</div>
            <form>
                <input type="text" name="login" required placeholder="Логин" pattern="^[a-zA-Z0-9_]+$"
                       title="Латинские буквы и/или цифры" minlength="5"/>
                <input type="password" name="password" required placeholder="Пароль" minlength="8"/>
                <div class="text-center">
                    <input type="submit" class="button" value="Войти" style="border: 0;">

                    <a href="signup" class="button_a">
                        Создать аккаунт
                    </a>
                </div>
            </form>
        </div>


    </div>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>


</body>
</html>
