{% extends 'layouts/base_login.html' %}
{% load static %}
{% block content %}
<div class="title">Регистрация</div>
<div class="description">Пожалуйста, введите данные для своего будущего аккаунта</div>
<form>
    <input type="text" name="nickname" required placeholder="Никнейм" pattern="^[a-zA-Z0-9_]+$"
           title="Латинские буквы и/или цифры" minlength="3"/>
    <input type="email" name="email" required placeholder="Почта" title="email@example.com"/>
    <input type="password" name="password" id="myInput" required placeholder="Пароль" minlength="8"/>
    <label><input type="checkbox" onclick="myFunction()"> Показать пароль</label>

    <div class="text-center">
        <input type="submit" class="button" value="Создать аккаунт" style="border: 0;">
        <a href="{% url 'login' %}">
            <div class="button">Войти</div>
        </a>
    </div>
</form>
{% endblock %}