<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Russian">
    <title>Ask Bauman</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/loginstyle.css">


</head>

<body>

<div class="modal-wrap">

    <div class="modal-bodies">
        <div class="modal-body modal-body-step-1 is-showing">
            <div class="title">Регистрация</div>
            <div class="description">Пожалуйста, введите данные для своего будущего аккаунта</div>
            <form>
                <input type="text" name="login" required placeholder="Логин" pattern="^[a-zA-Z0-9_]+$"
                       title="Латинские буквы и/или цифры" minlength="5"/>
                <input type="text" name="nickname" required placeholder="Никнейм" pattern="^[a-zA-Z0-9_]+$"
                       title="Латинские буквы и/или цифры" minlength="3"/>
                <input type="email" name="email" required placeholder="Почта" title="email@example.com"/>
                <input type="password" name="password" id="myInput" required placeholder="Пароль" minlength="8"/>
                <label><input type="checkbox" onclick="myFunction()"> Показать пароль</label>

                <div class="text-center">
                    <a href="login">
                        <div class="button">Войти</div>
                    </a>
                    <input type="submit" class="button" value="Создать аккаунт" style="border: 0;">
                </div>
            </form>
        </div>


    </div>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

</script>


</body>
</html>
