<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Russian">
    <title>Ask Bauman</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>


<!-- ==========header mega navbar=======-->
<div class="top-menu-bottom932">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="display: block;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="
    margin-right: 0;
    margin-left: -5px;
    padding: 10px;
"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <div style="
    display: flex;
">
                    <a class="navbar-brand" href="/"><img src="../static/image/logo.png" alt="Logo" height="52px"></a>
                    <div class="navbar-serch-right-side" style="width: 100%;margin-left: 15px;margin-right: 5px;">
                        <form class="navbar-form" role="search" style="
    padding: 0;
    width: 100%;
    border: 0;
">
                            <div class="input-group add-on">
                                <input class="form-control form-control222" placeholder="Найти вопрос" id="srch-term"
                                       type="text">
                                <div class="input-group-btn" style="width: 1%;">
                                    <button class="btn btn-default btn-default2913" type="button"><i
                                            class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div><!-- Collect the nav links, forms, and other content for toggling -->
                </div>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="padding: 8px 0px 8px 5px;"
                 aria-expanded="false">

                <ul class="nav navbar-nav navbar-right" style="
    margin: auto 0;
">
                    <li><a href="/">На главную</a></li>

                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-haspopup="true" aria-expanded="false">Вопросы по тегам <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu animated zoomIn">
                            <li><a href="tag/analytics">analytics</a></li>
                            <li><a href="tag/computer">Computer</a></li>
                            <li><a href="tag/developer">Developer</a></li>
                            <li><a href="tag/google">Google</a></li>
                            <li><a href="tag/interview">Interview</a></li>
                            <li><a href="tag/programmer">Programmer</a></li>
                            <li><a href="tag/salary">Salary</a></li>
                            <li><a href="tag/university">University</a></li>
                            <li><a href="tag/employee">Employee</a></li>
                        </ul>
                    </li>


                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-haspopup="true" aria-expanded="false" style="
    display: flex;
">
                        <div style="
    margin: auto 60px auto 0;
">Личный кабинет <span class="caret"> </span></div>
                        <div class="left-user12923 left-user12923-repeat avatar"><img src="../static/image/images.png"
                                                                                      alt="image"></div>
                    </a>
                        <ul class="dropdown-menu animated zoomIn">
                            <li><a href="ask">Задать вопрос</a></li>
                            <li><a href="my_questions">Мои вопросы</a></li>
                            <li><a href="settings">Мои данные</a></li>
                            <li><a href="logout">Выйти</a></li>


                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

<section class="header-descriptin329">
    <div class="container">
        <ol class="breadcrumb breadcrumb839">
            <li>Личный кабинет</li>
            <li class="active">Мои данные</li>
        </ol>
    </div>
</section>
<!-- ======content section/body=====-->
<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="ask-question-input-part032">
                    <h4 class="oh4">Мои данные</h4>
                    <hr>
                    <form>
                        <div class="question-title39">
                            <span class="form-description433">Логин </span><input type="text" name="login"
                                                                                  class="question-ttile32"
                                                                                  value="alexf"
                                                                                  pattern="^[a-zA-Z0-9_]+$"
                                                                                  required
                                                                                  title="Латинские буквы и/или цифры"
                                                                                  minlength="5"
                                                                                  placeholder="Не менее 5 латинских букв и/или цифр">
                        </div>

                        <div class="question-title39">
                            <span class="form-description433">Никнейм </span><input type="text" name="nickname"
                                                                                    class="question-ttile32"
                                                                                    value="alex_fnaf"
                                                                                    pattern="^[a-zA-Z0-9_]+$"
                                                                                    required
                                                                                    title="Латинские буквы и/или цифры"
                                                                                    minlength="3"
                                                                                    placeholder="Не менее 3 латинских букв и/или цифр">
                        </div>

                        <div class="question-title39">
                            <span class="form-description433">Почта </span><input type="email" name="email"
                                                                                  class="question-ttile32"
                                                                                  value="alex@gmail.com"
                                                                                  required
                                                                                  title="email@example.com"
                                                                                  placeholder="email@example.com">
                        </div>
                        <div class="question-title39">
                            <span class="form-description433">Картинка </span><div class="question-ttile32" style="
    display: inline-flex;
    height: auto;
    justify-content: space-between;
">
                                <input type="file" name="image" accept="image/jpeg,image/png" style="margin: auto 0;">
                                <div class="div_img"></div>
                            </div>
                        </div>

                        <div class="publish-button2389">
                            <input type="submit" class="publis1291" value="Изменить данные">
                        </div>
                    </form>

                </div>
            </div>
            <!--end of col-md-9 -->
            <!--strart col-md-3 (side bar)-->
            <aside class="col-md-3 sidebar97239">
                <!--          start tag part-->
                <div class="tags-part2398">
                    <h4>Теги</h4>
                    <ul>
                        <li><a href="tag/analytics">analytics</a></li>
                        <li><a href="tag/computer">Computer</a></li>
                        <li><a href="tag/developer">Developer</a></li>
                        <li><a href="tag/google">Google</a></li>
                        <li><a href="tag/interview">Interview</a></li>
                        <li><a href="tag/programmer">Programmer</a></li>
                        <li><a href="tag/salary">Salary</a></li>
                        <li><a href="tag/university">University</a></li>
                        <li><a href="tag/employee">Employee</a></li>
                    </ul>
                </div>
                <!--          End tag part-->
                <!--              highest part-->
                <div class="highest-part302">
                    <h4>Лидеры сервиса</h4>
                    <div class="pints-wrapper">
                        <div class="left-user3898">
                            <img src="../static/image/images.png" alt="Image"></div>

                    </div>
                    <div class="points-details938">
                        <h5>Ahmed Hasan</h5>
                        <span class="designetion439">Гений</span>
                        <p>206 баллов</p>
                    </div>
                    <hr>
                    <div class="pints-wrapper">
                        <div class="left-user3898">
                            <img src="../static/image/images.png" alt="Image"></div>

                    </div>
                    <div class="points-details938">
                        <h5>Ahmed Hasan</h5>
                        <span class="designetion439">Гений</span>
                        <p>206 баллов</p>
                    </div>
                    <hr>
                    <div class="pints-wrapper">
                        <div class="left-user3898">
                            <img src="../static/image/images.png" alt="Image"></div>

                    </div>
                    <div class="points-details938">
                        <h5>Ahmed Hasan</h5>
                        <span class="designetion439">Гений</span>
                        <p>206 баллов</p>
                    </div>
                    <hr>
                    <div class="pints-wrapper">
                        <div class="left-user3898">
                            <img src="../static/image/images.png" alt="Image"></div>

                    </div>
                    <div class="points-details938">
                        <h5>Ahmed Hasan</h5>
                        <span class="designetion439">Гений</span>
                        <p>206 баллов</p>
                    </div>
                    <hr>
                    <div class="pints-wrapper">
                        <div class="left-user3898">
                            <img src="../static/image/images.png" alt="Image"></div>

                    </div>
                    <div class="points-details938">
                        <h5>Ahmed Hasan</h5>
                        <span class="designetion439">Гений</span>
                        <p>206 баллов</p>
                    </div>
                </div>
                <!--               end of Highest points -->
            </aside>
        </div>
    </div>
</section>
<!--    footer -->
<section class="footer-social">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Сервис Спроси бауманца | <strong>Семенов Александр</strong></p>
            </div>
            <div class="col-md-6">
                <div class="social-right2389"><a href="https://t.me/alex_fnaf"><i class="fa fa-telegram"
                                                                                  aria-hidden="true"></i></a>
                    <a href="https://vk.ru/alex_fnaf"><i class="fa fa-vk" aria-hidden="true"></i></a></div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

</body>

</html>